
body {
    font-family: 'Nunito', sans-sherif !important;
}
nav{
    background-color: #4C4B63;
    padding: 10px;
    display: flex;
    
    
}
.icon{
    font-size: 30px;
    color: #4C4B63;
}

.header-bar{
    text-align: center;
    padding-top: 10px;
}
.nav-item {
    font-size: 20px;
    list-style: none;
    
   
}
.nav-item .nav-link{
    color: #ABA8B2;
}
.brand, h2{
    font-size: 50px;
    color: #ABA8B2;
}
.main-bg{
    background-color:#ece7f5;
}

.new-task{
    background-color:#99A1A6;
    border-radius: 15px !important;
    max-width: 900px !important;
   
  
}


.task-list{
    background-color: #2F4858;
    max-width: 900px !important;
    border-radius: 20px;
   
 
}
.wrapper { 
    overflow-x: auto; 
    padding: 10px;
   
}
.wrapper table { 
    white-space: nowrap; 
}
p a{
    text-decoration: none;
}

    /* #0A122A */

footer{
    background-color: #4C4B63;
    margin-top: 0%;
}

.notepad{
    width: 200px;
    height: 350px;
    align-items: center;
}

th, td{
    
    font-size: 18px;
    color: #fafafa;
    
}
th{
    padding-top: 5px;
}
#task-name {
    padding-right: 150px;
    padding-top: 20px;
}

#task-importance{
    padding-right: 50px;
}
#task-status{
    padding-right: 50px;
}

#update-item{
    text-decoration: none;
    padding-right: 20px !important;
    color: #fafafa;
}

#delete-item{
    padding-right: 0% !important;
    text-decoration: none;
}

.slogan{
    font-size: 70px !important;
    margin-top: 50px;
    color: #3d2f57;
}

.image{
    background-image: url(/static/images/unseen-studio-s9CC2SKySJM-unsplash.jpg);
    background-color: #40678e;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 360px;
}
/* table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
  } */

@media screen and (max-width:950){
    th, td, td a{
        padding-right: 50px !important;
    }
}